html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 'Roboto', sans-serif;
  background-color: black;
  color: white;
 }

.make-it-rain{
  border-radius: 3%;
}

.dinolady{
  border-radius: 3%;
}

#talk-bubble {
	position: relative;
	background: #d6d6d6;
  border-radius: .4em;
  color: black;
}

#talk-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-top-color: #d6d6d6;
	border-bottom: 0;
	border-left: 0;
	margin-left: -12px;
	margin-bottom: -24px;
}

.masthead{
  background-image: url("images/space.jpg");
}



.articles article section{
  background-color: white;
  color: black;
 
}


.articles article {
  padding-top: 100px;
  margin: 50px;
  
}
.top-article {
  background-image: url("images/react.png");
  background-position: 0 -190px;
}

.bottom-article{
  background-image: url("images/code.png");
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media (min-width: 601px) {
  body{
    width: 960px;
    margin: auto; 
  }
}