html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 'Roboto', sans-serif;
  background-color: black;
  color: white;
 }

.make-it-rain{
  border-radius: 3%;
}

.dinolady{
  border-radius: 3%;
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}

.talktext:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.talktext:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}


.articles article section{
  background-color: white;
  color: black;
 
}


.articles article {
  padding-top: 100px;
  margin: 50px;
  
}
.top-article {
  background-image: url("images/react.png");
  background-position: 0 -190px;
}

.bottom-article{
  background-image: url("images/code.png");
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media (min-width: 601px) {
  body{
    width: 960px;
    margin: auto; 
  }
}