html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 'Roboto', sans-serif;
  background-color: black;
  color: white;
 }

.make-it-rain{
  border-radius: 3%;
}

.dinolady{
  border-radius: 3%;
}

.talk-bubble {
  position: relative;
  width: 300px;
  height: 125px;
  
  padding: 10px;
  border-radius: 5px;
  border: solid lightblue;
  background: lightblue;
}

.talk-bubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  
  border-top: 13px solid transparent;
  border-right: 26px solid lightblue;
  border-bottom: 13px solid transparent;
}

.talk-text {
  position: inherit;
  width: inherit;
  height: inherit;
  background: inherit;
  
  margin: 0;
  padding: 0;
  
  border: none;
  resize: none;
}



.articles article section{
  background-color: white;
  color: black;
 
}


.articles article {
  padding-top: 100px;
  margin: 50px;
  
}
.top-article {
  background-image: url("images/react.png");
  background-position: 0 -190px;
}

.bottom-article{
  background-image: url("images/code.png");
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media (min-width: 601px) {
  body{
    width: 960px;
    margin: auto; 
  }
}